<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" media="all" href="./preview_files/amsterdam-188bd5bd8977bc50a2df468eaf78f243c92587a9d79cd850febbdc8d153445a3.css">
    <meta content="noindex, nofollow" name="robots">
    <script src="./preview_files/application-6fceb92e01008cabb2455dfb5d7492fd44bb5faf4c6b0b9360b80a50525d8afd.js"></script>
  </head>
  <body class="body--preview">
    <div class="side-bar"></div>
    <div class="preview-box">
      <div class="container">
        <div class="title">
          <div class="title__block">
            <div class="title__name">
              <span>L</span><span>U</span><span>I</span><span>S</span><span> </span><span>I</span><span>G</span><span>N</span><span>A</span><span>C</span><span>I</span><span>O</span><span> </span><span>C</span><span>E</span><span>J</span><span>U</span><span>D</span><span>O</span><span> </span><span>F</span><span>O</span><span>N</span><span>T</span><span>E</span><span>S</span>
            </div>
            <div class="title__position">Codeer</div>
          </div>
        </div>
        <div class="container__main">
          <div class="sidebar dont-hide-me">
            <div class="sidebar__section">
              <div class="section__title">
                <span>i</span><span>n</span><span>f</span><span>o</span>
              </div>
              <div class="sidebar__subsection">
                <div class="sidebar__subtitle">Phone</div>
                <div class="sidebar__subsection-text">+52-1-811-58-98-281</div>
              </div>
              <div class="sidebar__subsection">
                <div class="sidebar__subtitle">Email</div>
                <div class="sidebar__subsection-text">email@luisignac.io</div>
              </div>
            </div>
            <div class="sidebar__section">
              <div class="section__title">
                <span>L</span><span>i</span><span>n</span><span>k</span><span>s</span>
              </div>
              <div class="sidebar__socials">
                <div class="sidebar__socials-item">
                  <a class="sidebar__socials-link" href="https://join.skype.com/invite/Q6y1sNjPe7Fs" target="_blank">Skype</a>
                </div>
              </div>
              <div class="sidebar__socials">
                <div class="sidebar__socials-item">
                  <a class="sidebar__socials-link" href="http://email@luisignac.io/" target="_blank">Meet</a>
                </div>
              </div>
              <div class="sidebar__socials">
                <div class="sidebar__socials-item">
                  <a class="sidebar__socials-link" href="http://email@luisignac.io/" target="_blank">Hangout</a>
                </div>
              </div>
              <div class="sidebar__socials">
                <div class="sidebar__socials-item">
                  <a class="sidebar__socials-link" href="https://gitlab.com/thelastinuit" target="_blank">gitlab</a>
                </div>
              </div>
              <div class="sidebar__socials">
                <div class="sidebar__socials-item">
                  <a class="sidebar__socials-link" href="https://github.com/thelastinuit" target="_blank">github</a>
                </div>
              </div>
            </div>
            <div class="sidebar__section">
              <div class="section__title">
                <span>S</span><span>k</span><span>i</span><span>l</span><span>l</span><span>s</span>
              </div>
              <div class="sidebar__skill">
                <div class="sidebar__skill-label">Ruby</div>
                <div class="sidebar__skill-progress">
                  <div class="sidebar__circle"></div>
                  <div class="sidebar__circle"></div>
                  <div class="sidebar__circle"></div>
                  <div class="sidebar__circle"></div>
                  <div class="sidebar__circle is-empty"></div>
                </div>
              </div>
              <div class="sidebar__skill">
                <div class="sidebar__skill-label">AWS</div>
                <div class="sidebar__skill-progress">
                  <div class="sidebar__circle"></div>
                  <div class="sidebar__circle"></div>
                  <div class="sidebar__circle"></div>
                  <div class="sidebar__circle"></div>
                  <div class="sidebar__circle is-empty"></div>
                </div>
              </div>
              <div class="sidebar__skill">
                <div class="sidebar__skill-label">iOS</div>
                <div class="sidebar__skill-progress">
                  <div class="sidebar__circle"></div>
                  <div class="sidebar__circle"></div>
                  <div class="sidebar__circle"></div>
                  <div class="sidebar__circle"></div>
                  <div class="sidebar__circle is-empty"></div>
                </div>
              </div>
              <div class="sidebar__skill">
                <div class="sidebar__skill-label">Docker</div>
                <div class="sidebar__skill-progress">
                  <div class="sidebar__circle"></div>
                  <div class="sidebar__circle"></div>
                  <div class="sidebar__circle"></div>
                  <div class="sidebar__circle is-empty"></div>
                  <div class="sidebar__circle is-empty"></div>
                </div>
              </div>
              <div class="sidebar__skill">
                <div class="sidebar__skill-label">Elixir</div>
                <div class="sidebar__skill-progress">
                  <div class="sidebar__circle"></div>
                  <div class="sidebar__circle"></div>
                  <div class="sidebar__circle is-empty"></div>
                  <div class="sidebar__circle is-empty"></div>
                  <div class="sidebar__circle is-empty"></div>
                </div>
              </div>
              <div class="sidebar__skill">
                <div class="sidebar__skill-label">Rust</div>
                <div class="sidebar__skill-progress">
                  <div class="sidebar__circle"></div>
                  <div class="sidebar__circle"></div>
                  <div class="sidebar__circle is-empty"></div>
                  <div class="sidebar__circle is-empty"></div>
                  <div class="sidebar__circle is-empty"></div>
                </div></div><div class="sidebar__skill">
                  <div class="sidebar__skill-label">Golang</div>
                  <div class="sidebar__skill-progress">
                    <div class="sidebar__circle"></div>
                    <div class="sidebar__circle"></div>
                    <div class="sidebar__circle is-empty"></div>
                    <div class="sidebar__circle is-empty"></div>
                    <div class="sidebar__circle is-empty"></div>
                  </div>
                </div>
                <div class="sidebar__skill">
                  <div class="sidebar__skill-label">React</div>
                  <div class="sidebar__skill-progress">
                    <div class="sidebar__circle"></div>
                    <div class="sidebar__circle"></div>
                    <div class="sidebar__circle"></div>
                    <div class="sidebar__circle is-empty"></div>
                    <div class="sidebar__circle is-empty"></div>
                  </div>
                </div>
                <div class="sidebar__skill">
                  <div class="sidebar__skill-label">Angular</div>
                  <div class="sidebar__skill-progress">
                    <div class="sidebar__circle"></div>
                    <div class="sidebar__circle"></div>
                    <div class="sidebar__circle"></div>
                    <div class="sidebar__circle is-empty"></div>
                    <div class="sidebar__circle is-empty"></div>
                  </div>
                </div>
                <div class="sidebar__skill">
                  <div class="sidebar__skill-label">Vue</div>
                  <div class="sidebar__skill-progress">
                    <div class="sidebar__circle"></div>
                    <div class="sidebar__circle"></div>
                    <div class="sidebar__circle is-empty"></div>
                    <div class="sidebar__circle is-empty"></div>
                    <div class="sidebar__circle is-empty"></div>
                  </div>
                </div>
                <div class="sidebar__skill">
                  <div class="sidebar__skill-label">Ember</div>
                  <div class="sidebar__skill-progress">
                    <div class="sidebar__circle"></div>
                    <div class="sidebar__circle"></div>
                    <div class="sidebar__circle is-empty"></div>
                    <div class="sidebar__circle is-empty"></div>
                    <div class="sidebar__circle is-empty"></div>
                  </div>
                </div>
            </div>
          </div>
          <div class="main">
            <div class="main__section">
              <div class="section__title">
                <span>P</span><span>r</span><span>o</span><span>f</span><span>i</span><span>l</span><span>e</span>
              </div>
              <div class="main__text">
                <p>I make platforms and great mistakes</p>
              </div>
            </div>
            <div class="main__section">
              <div class="section__title">
                <span>E</span><span>d</span><span>u</span><span>c</span><span>a</span><span>t</span><span>i</span><span>o</span><span>n</span>
              </div>
              <div class="main__content">
                <div class="main__content-item" style="page-break-inside: avoid;">
                  <div class="main__content-title is-2column">
                    <div class="main__content-title-right">Monterrey</div>
                    U.A.N.L, PhD in Engineering Physics
                  </div>
                  <div class="main__content-subtitle">Jan 2008 – Dec 2012</div>
                  <div class="main__content-caption"><p>100% Scholarship</p>
                    <p>Dropped out</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="main__content-item" style="page-break-inside: avoid;">
              <div class="main__content-title is-2column">
                <div class="main__content-title-right">Monterrey</div>
                Tec de Monterrey, B.S. in Engineering Physics
              </div>
              <div class="main__content-subtitle">Aug 2006 – Dec 2006</div>
              <div class="main__content-caption"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main__section">
      <div class="section__title"><span>E</span><span>m</span><span>p</span><span>l</span><span>o</span><span>y</span><span>m</span><span>e</span><span>n</span><span>t</span><span> </span><span>H</span><span>i</span><span>s</span><span>t</span><span>o</span><span>r</span><span>y</span>
      </div>
      <div class="main__content">
        <div class="main__content-item" style="page-break-inside: avoid;">
          <div class="main__content-title is-2column">
            <div class="main__content-title-right">Monterrey</div>
            Senio Software Developer, Freelancing
            <div>
              <div class="main__content-subtitle">Aug 2009 – Mar 2019</div>
              <div class="main__content-caption">
                <p>I worked with local companies to solve their needs. I'm currently freelacing for a company in the U.S.A. remotely.</p>
              </div>
            </div>
            <div class="main__content-item" style="page-break-inside: avoid;">
              <div class="main__content-title is-2column">
                <div class="main__content-title-right">Monterrey</div>
                Tech Lead, Icalia Labs
              </div>
              <div class="main__content-subtitle">Apr 2018 – Sep 2019</div>
              <div class="main__content-caption">
                <p>I worked with developer teams to increase the productivity and gain better skills in coding with the best practices of the company,</p>
              </div>
            </div>
          </div>
        </div>
        <div class="main__content-item" style="page-break-inside: avoid;">
          <div class="main__content-title is-2column">
            <div class="main__content-title-right">Monterrey</div>
            Senior Software Developer, Icalia Labs
          </div>
          <div class="main__content-subtitle">Mar 2016 – Aug 2018</div>
          <div class="main__content-caption">
            <p>I created platforms with Rails, Sidekiq, Redis with third-party services such as Twilio, Sendgrid, Realstate APIs, Google APIs, and IBM Watson APIs. All this under the infrastructure of Docker (Swarm) on AWS.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="main__content-item" style="page-break-inside: avoid;"><div class="main__content-title is-2column">
      <div class="main__content-title-right">Monterrey</div>Lead Developer, Eolus IDeA</div>
      <div class="main__content-subtitle">Feb 2014 – Feb 2016</div>
      <div class="main__content-caption">
        <p>I created two platforms for company. My work consisted in developing the backend, frontend and iOS native app. I also handled the deployment on AWS.</p>
      </div>
    </div>
    <div class="main__content-item" style="page-break-inside: avoid;">
      <div class="main__content-title is-2column">
        <div class="main__content-title-right">Monterrey</div>Lead Developer, Alebrije Estudios</div>
        <div class="main__content-subtitle">May 2013 – Feb 2014</div>
        <div class="main__content-caption"><p>I handled 4 ongoing projects. I delivered a few iOS apps with Rails backends. I also handle the new developers into the best practices of the company.</p>
        </div>
    </div>
    <div class="main__section">
      <div class="section__title"><span>R</span><span>e</span><span>f</span><span>e</span><span>r</span><span>e</span><span>n</span><span>c</span><span>e</span><span>s</span></div>
      <div class="main__content">
        <div class="main__text">References available upon request</div>
      </div>
    </div>
  </body>
</html>
